*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    background: #000;
    border-radius: 10px;
    width: 35%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
}
.text{
    margin-top: 2rem;
}
.text h1{
    color: #fff;
}
.name{
    width: 75%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    height: 35px;
}
input{
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 1.4vw;
    padding-left: 1rem;
}
.pass{
    margin-bottom: 3rem;
    width: 75%;
    margin-top: 2rem;
    height: 35px;
}

label{
    font-size: 1.6vw;
    color: #fff;
}
.btn{
    width: 70%;
    height: 45px;
    background: crimson;
    color: #000;
    border-radius: 15px;
    border: none;
    margin-bottom: 2rem;
}
.btn button{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    font-size: 1.5vw;
    font-weight: bold;
    background: crimson;
   cursor: pointer;
   border: none;

}